* {

  margin: 0;

  padding: 0;

  box-sizing: border-box;
}


body {

  height: 100vh;

  display: flex;

  justify-content: center;

  background-color: rgba(200, 198, 169, 1);

  align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;

  font-size: 1em;
}

.container {

  width: 20em;

  background-color: rgba(241, 241, 241, 1);

  overflow: hidden;

  border-radius: 1em;

  text-align: center;

  font-family: 'Open Sans Condensed', sans-serif;

  font-size: 1em;
}

.image {
  padding: 3em 0;
  background-image: rgba(73, 63, 168, 1);
}

.image img {
  width: 150px;
  height: 150px;
  
  border-radius: 10%;
  box-shadow: 0 0.6em 1.8em;
  object-fit: cover;
}

.content {
  color: #565656;
  padding: 1em;
}

.head {
  font-size: 2.2em;
}

.paragraph {
  font-size: 1.1emem;
  color: brown#4E606A;
}

.link {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 1.1em 0;
}

.urs {
  color: #1447C5;
}

.studorg {
  color: #981231;
}



